p img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.bg-light img {
  max-width: 100% !important;
  height: auto !important;
  display: block !important;
  margin: 0 auto !important;
}
